@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Core

html {
  color: var(--text-color-base);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base); 
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body * {
  line-height: var(--line-height-base);
}

a {
  color: var(--link-color);
  text-underline-offset: 0.2em;

  &:hover {
    color: var(--link-hover-color);
  }
}

// Typography

strong,
.strong {
  font-weight: bold;
}

em,
i,
.em {
  font-style: italic;
}

.display-1 {
  font-weight: bold;
  font-size: var(--font-size-display-1);
  line-height: var(--line-height-display-1);
}

.display-2 {
  font-weight: bold;
  font-size: var(--font-size-display-2);
  line-height: var(--line-height-display-2);
}

h1, .h1 {
  font-weight: bold;
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2, .h2 {
  font-weight: bold;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3, .h3 {
  font-weight: bold;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

h4, .h4 {
  font-weight: bold;
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}

.large {
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}

.small {
  font-size: var(--font-size-small);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, p {
  & + *,
  * + & {
    margin-top: var(--spacing-2);
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  color: var(--text-color-headings);

  * + & {
    margin-top: var(--spacing-6);
  }
  & + & {
    margin-top: var(--spacing-2);
  }
}

.ul--inline-with-separators {
  & > li {
    display: inline;
  }
  & > li + li::before {
    display: inline;
    content: " • ";
  }
}
