@import url(https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --black: #000;
  --white: #fff;
  --rich-black: var(--gray-80);
  --gray-20: hsl(0 0% 80%);
  --gray-40: hsl(0 0% 60%);
  --gray-60: hsl(0 0% 40%);
  --gray-80: hsl(0 0% 20%);
  --teal-20: #66b2b2;
  --teal-40: #008080;
  --teal-60: #006666;
  --teal-80: #004c4c;
  --text-color-base: var(--rich-black);
  --text-color-headings: var(--black);
  --link-color: var(--teal-60);
  --link-hover-color: var(--teal-80);
  --font-family-base: "Karla", sans-serif;
  --font-size-base: clamp(1rem, 1.5vw, 3rem);
  --font-size-display-1: 4.209rem;
  --font-size-display-2: 3.157rem;
  --font-size-h1: 2.369rem;
  --font-size-h2: 1.777rem;
  --font-size-h3: 1.333rem;
  --font-size-h4: 1rem;
  --font-size-large: 1.333rem;
  --font-size-small: 0.75rem;
  --line-height-base: 1.5rem;
  --line-height-display-1: 4rem;
  --line-height-display-2: 3rem;
  --line-height-h1: 2.5rem;
  --line-height-h2: 2.5rem;
  --line-height-h3: 2rem;
  --line-height-h4: 1.5rem;
  --line-height-large: 2rem;
  --line-height-small: 1rem;
  --letter-spacing-base: -0.02em;
  --spacing-base: 0.5rem;
  --spacing-1: var(--spacing-base);
  --spacing-2: calc(var(--spacing-base)*2);
  --spacing-3: calc(var(--spacing-base)*3);
  --spacing-4: calc(var(--spacing-base)*4);
  --spacing-5: calc(var(--spacing-base)*5);
  --spacing-6: calc(var(--spacing-base)*6);
  --spacing-7: calc(var(--spacing-base)*7);
  --spacing-8: calc(var(--spacing-base)*8);
  --spacing-9: calc(var(--spacing-base)*9);
  --spacing-10: calc(var(--spacing-base)*10);
  --spacing-11: calc(var(--spacing-base)*11);
  --spacing-12: calc(var(--spacing-base)*12);
  --spacing-13: calc(var(--spacing-base)*13);
  --spacing-14: calc(var(--spacing-base)*14);
  --spacing-15: calc(var(--spacing-base)*15);
}

html {
  color: var(--text-color-base);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body * {
  line-height: var(--line-height-base);
}

a {
  color: var(--link-color);
  text-underline-offset: 0.2em;
}
a:hover {
  color: var(--link-hover-color);
}

strong,
.strong {
  font-weight: bold;
}

em,
i,
.em {
  font-style: italic;
}

.display-1 {
  font-weight: bold;
  font-size: var(--font-size-display-1);
  line-height: var(--line-height-display-1);
}

.display-2 {
  font-weight: bold;
  font-size: var(--font-size-display-2);
  line-height: var(--line-height-display-2);
}

h1, .h1 {
  font-weight: bold;
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2, .h2 {
  font-weight: bold;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3, .h3 {
  font-weight: bold;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

h4, .h4 {
  font-weight: bold;
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}

.large {
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}

.small {
  font-size: var(--font-size-small);
}

h1 + *, * + h1, .h1 + *, * + .h1, h2 + *, * + h2, .h2 + *, * + .h2, h3 + *, * + h3, .h3 + *, * + .h3, h4 + *, * + h4, .h4 + *, * + .h4, p + *, * + p {
  margin-top: var(--spacing-2);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  color: var(--text-color-headings);
}
* + h1, * + .h1, * + h2, * + .h2, * + h3, * + .h3, * + h4, * + .h4 {
  margin-top: var(--spacing-6);
}
h1 + h1, h1 + .h1, h1 + h2, h1 + .h2, h1 + h3, h1 + .h3, h1 + h4, h1 + .h4, .h1 + h1, .h1 + .h1, .h1 + h2, .h1 + .h2, .h1 + h3, .h1 + .h3, .h1 + h4, .h1 + .h4, h2 + h1, h2 + .h1, h2 + h2, h2 + .h2, h2 + h3, h2 + .h3, h2 + h4, h2 + .h4, .h2 + h1, .h2 + .h1, .h2 + h2, .h2 + .h2, .h2 + h3, .h2 + .h3, .h2 + h4, .h2 + .h4, h3 + h1, h3 + .h1, h3 + h2, h3 + .h2, h3 + h3, h3 + .h3, h3 + h4, h3 + .h4, .h3 + h1, .h3 + .h1, .h3 + h2, .h3 + .h2, .h3 + h3, .h3 + .h3, .h3 + h4, .h3 + .h4, h4 + h1, h4 + .h1, h4 + h2, h4 + .h2, h4 + h3, h4 + .h3, h4 + h4, h4 + .h4, .h4 + h1, .h4 + .h1, .h4 + h2, .h4 + .h2, .h4 + h3, .h4 + .h3, .h4 + h4, .h4 + .h4 {
  margin-top: var(--spacing-2);
}

.ul--inline-with-separators > li {
  display: inline;
}
.ul--inline-with-separators > li + li::before {
  display: inline;
  content: " • ";
}

/*# sourceMappingURL=site.css.map*/